<!DOCTYPE html>
<html>

  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <%- include('partials/sideBar') %>

    <div class="content">
      <div class="navbar">
        <button type="button" id="sidebarCollapse">
          <span class="fas fa-bars"></span>
        </button>

        <% if (searchTerm) { %>
          <h4>Search for: <strong><%= searchTerm %></strong></h4>
        <% } %>

        <% if (page === 'explore') { %>
          <form id="searchbar" class="form-outline" method="GET" action="/pins">
            <input type="search" name="search" id="search" class="form-control" placeholder="Search for a pin!"
            aria-label="Search"/>
          </form>
        <% } %>
      </div>

      <div class="content-body">
        <% if (page === 'explore') { %>
          <%- include('pages/explore') %>
        <% } %>

        <% if (page === 'register') { %>
          <%- include('pages/register') %>
        <% } %>

        <% if (page === 'login') { %>
          <%- include('pages/login') %>
        <% } %>
      </div>
    </div>
  </body>
</html>
