<!DOCTYPE html>
<html>

  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <%- include('partials/sideBar') %>

    <div class="content">
      <div class="navbar">
        <button type="button" id="sidebarCollapse">
          <span class="fas fa-bars"></span>
        </button>
      </div>

      <div class="content-body">
        <% if (page === 'explore') { %>
          <%- include('pages/explore') %>
        <% } %>

        <% if (page === 'register') { %>
          <%- include('pages/register') %>
        <% } %>

        <% if (page === 'login') { %>
          <%- include('pages/login') %>
        <% } %>
      </div>
    </div>
  </body>
</html>
