<%- include('partials/head') %>

<%- include('partials/sideBar') %>

    <!-- Content  -->
      <div class="content">

        <div class="navbar">
          <button type="button" id="sidebarCollapse">
            <span class="fas fa-bars"></span>
          </button>
        </div>
        <div class="content-body">
          <div class="explore">

            <% for(const pin of pins){ %>
            <article class="card-sm">
              <header>
                <div class="card-sm-image">
                  <img src="<%= pin.media %> ">
                </div>
                <div class="card-sm-info">
                  <div class="card-sm-link">
                    <h2><%= pin.title %> </h2>
                    <button class="link">
                      <span class="fas fa-external-link-alt"></span>
                    </button>
                  </div>
                  <p><%= pin.description %> </p>
                  <div class="card-sm-avg-rating">
                    <div class="fas fa-star checked"></div>
                    <div class="avg-rating">
                      <% if(pin.rating === null){ %>
                        <%=Number(pin.rating) %>
                      <% }else{ %>
                        <%=Number(pin.rating).toFixed(1)%>
                      <% } %>
                    </div>
                  </div>
                </div>
              </header>

              <footer>
                <button>
                  <span class="far fa-plus-square"></span>
                </button>
                <div class="like">
                  <button class="far fa-heart"></button>
                  <p class="like-counter">25</p>
                </div>
              </footer>
            </article>
            <% } %>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
