<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <%- include('partials/sideBar') %>

    <div class="content">
      <div class="navbar">
        <button type="button" id="sidebarCollapse">
          <span class="fas fa-bars"></span>
        </button>

        <!-- Searchar IF on explore page -->
        <% if (page === 'explore') { %>

          <% if (searchTerm) { %>
          <h4>Search for: <strong><%= searchTerm %></strong></h4>
          <% } %>

        <form id="searchbar" class="form-outline" method="GET" action="/pins">
          <input
            type="search"
            name="search"
            id="search"
            class="form-control"
            placeholder="Search for a pin!"
            aria-label="Search"
          />
        </form>
        <% } %>

        <!-- Topics header if on myPins page -->
        <% if(page === 'myPins'){ %>
          <div class="topics-container">
            <% for(const topic of topics) { %>
              <button type="button" class="topic-button btn btn-outline-primary">
                <%= topic %>
              </button>
             <% } %>
          </div>

          <form id="new-topic" class="form-group" action="/users/topics"
            method="POST">
            <input class="form-control" id="topic" name="topic" type="text" placeholder="Add a new topic">
          </form>

        <% } %>

      </div>

      <div class="content-body">
        <% if (page === 'explore' || page === 'myPins') { %> <%- include('pages/explore') %> <% } %>
        <% if (page === 'register') { %> <%- include('pages/register') %> <% }
        %> <% if (page === 'login') { %> <%- include('pages/login') %> <% } %>
      </div>
    </div>
  </body>
</html>
