<%- include('partials/head') %>

<%- include('partials/sideBar') %>

    <!-- Content  -->
<div class="content">
  <div class="navbar">
    <button type="button" id="sidebarCollapse">
      <span class="fas fa-bars"></span>
    </button>
</div>
        <div class="content-body">
          <div class="explore">

            <% for(const pin of pins){ %>
              <article class="display card-sm">
                <header>
                  <div class="card-sm-image">
                    <img src="<%= pin.media %>">
                  </div>
                  <div class="card-sm-info">
                    <div class="card-sm-link">
                      <h2><%= pin.title %></h2>
                      <a href="<%= pin.url %>" class="link">
                        <span class="fas fa-external-link-alt"></span>
                      </a>
                    </div>
                    <p><%= pin.description %> </p>
                    <div class="card-sm-avg-rating">
                      <div class="fas fa-star checked"></div>
                      <div class="avg-rating">
                        <% if(Number(pin.rating) !== null) { %>
                        <%= Number(pin.rating).toFixed(1) %>
                        <% } else { %>
                        <%= Number(pin.rating) %>
                        <% } %></div>
                    </div>
                  </div>
                </header>
                <footer>
                  <button>
                    <span class="far fa-plus-square"></span>
                  </button>
                  <div class="like">
                    <button class="far fa-heart"></button>
                    <p class="like-counter">25</p>
                  </div>
                </footer>

<!-- Pop-Out Content -->
              <div class="pop-out hide">
                <div class="pop-content">
                  <div class="close fas fa-times"></div>
                    <div class="pop-container">
                      <header>
                        <div>
                          <h2><%= pin.title %> </h2>
                          <img src="<%= pin.media %> ">
                        </div>
                        <div class="card-lg-info">
                          <div class="card-lg-link">
                          </div>
                          <hr>
                          <p><%= pin.description %></p>
                        </div>
                      </header>
                      <footer>
                        <div class="fas fa-star checked">
                          <% if(Number(pin.rating) !== null) { %>
                            <%= Number(pin.rating).toFixed(1) %>
                            <% } else { %>
                            <%= Number(pin.rating) %>
                            <% } %>
                        </div>
                        <div class="buttons">
                          <button>
                            <span class="far fa-plus-square"></span>
                          </button>
                          <div class="like">
                            <button class="far fa-heart"></button>
                            <p class="like-counter">25</p>
                          </div>
                          <a href="<%= pin.url %>" class="link">
                            <span class="fas fa-external-link-alt"></span>
                          </a>
                      </div>
                      </footer>
                    </div>
                </div>
              </div>
            </article>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
