<div class="explore">
  <% for(const pin of pins){ %>

  <article class="display card-sm">
    <header>
      <div class="card-sm-image">
        <img src="<%= pin.media %>" />
      </div>
      <div class="card-sm-info">
        <div class="card-sm-link">
          <h2><%= pin.title %></h2>
        </div>
        <p><%= pin.description %></p>
        <div class="card-sm-avg-rating">
          <div id="rating" class="fas fa-star checked">
            <% if(Number(pin.rating) !== 0.0) { %> <%=
            Number(pin.rating).toFixed(1) %> <% } else { %> <%=
            Number(pin.rating).toFixed()%> <% } %>
          </div>
          <div class="fas fa-heart like-count"><%= pin.like_count %></div>
        </div>
      </div>
    </header>
    <footer>
      <button class="far fa-heart like"></button>
      <a href="<%= pin.url %>" class="link">
        <span class="fas fa-external-link-alt"></span>
      </a>
    </footer>

    <!-- Pop-Out Content -->
    <div class="pop-out hide">
      <div class="pop-content">
        <div class="top-show">
          <div class="time"><%= pin.created_at%>By:</div>
          <div class="close">+</div>
        </div>
        <header>
          <img src="<%= pin.media %> " />
          <div class="text">
            <h2><%= pin.title %></h2>
            <hr />
            <div class="card-lg-info">
              <p><%= pin.description %></p>

            </div>
          </div>
        </header>
        <footer class="show">
          <div class="card-sm-avg-rating">
            <div id="rating" class="fas fa-star checked">
              <% if(Number(pin.rating) !== 0.0) { %> <%=
              Number(pin.rating).toFixed(1) %> <% } else { %> <%=
              Number(pin.rating).toFixed()%> <% } %>
            </div>
            <div class="fas fa-heart like-count"><%= pin.like_count %></div>
          </div>
          <div class="buttons">
            <button>
              <span class="far fa-plus-square"></span>
            </button>

            <div class="like">
              <button class="far fa-heart"></button>
              <p class="like-counter">25</p>
            </div>

            <button class="link">
              <span class="fas fa-external-link-alt"
                ><a href="<%= pin.url %> "></a
              ></span>
            </button>
          </div>

        </footer>
      </div>
    </div>
  </article>
  <% } %>
</div>
