<div class="explore">
  <% for(const pin of pins){ %>

  <article id="pin<%= pin.id %>" class="display card-sm"
    <% if(Number(userId) === Number(pin.user_id)){ %> draggable="true" <% } %>
  >
    <header class="display-header">
      <div class="card-sm-image">
        <img src="<%= pin.media %>" />
      </div>
      <div class="card-sm-info">
        <div class="card-sm-link">
          <h2><%= pin.title %></h2>
        </div>
        <p><%= pin.description %></p>
        <div class="card-sm-avg-rating">
          <div id="rating" class="fas fa-star checked">
            <% if(Number(pin.rating) !== 0.0) { %> <%=
            Number(pin.rating).toFixed(1) %> <% } else { %> <%=
            Number(pin.rating).toFixed()%> <% } %>
          </div>
          <div class="fas fa-heart like-count"><%= pin.like_count %></div>
        </div>
      </div>
    </header>
    <footer>

      <div class="pin-actions">
        <button class="far fa-heart like"></button>
        <a href="<%= pin.url %>" class="link" target="_blank">
          <span class="fas fa-external-link-alt"></span>
        </a>
      </div>

      <% if(Number(userId) === Number(pin.user_id)){ %>

      <div class="edit-buttons">
        <!-- delete pin form -->
        <form action="/pins/<%= pin.id %>?_method=DELETE" method="POST">
          <button id="delete" type="submit" class="fas fa-trash-alt"></button>
        </form>

        <!-- edit pin form -->
        <div class="edit fas fa-edit">
          <div class="edit-form hide">
            <div class="edit-content">
              <div class="form-close">+</div>
              <div class="form-head">
                <h2>Editing <%= pin.title %></h2>
                <hr />
              </div>
              <form
                id="edit-form"
                action="/pins/<%=pin.id%>?_method=PUT "
                method="POST"
              >
                <div class="form-group">
                  <label for="title"
                    >Title <span class="required">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    value="<%= pin.title %> "
                    name="title"
                    required
                    ;
                  />
                </div>
                <div class="form-group">
                  <label for="url">Url <span class="required">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    value="<%= pin.url %> "
                    name="url"
                    required
                    ;
                  />
                </div>
                <div class="form-group">
                  <label for="media"
                    >Media<span class="required">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    value=" <%= pin.media %> "
                    name="media"
                    required
                    ;
                  />
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea
                    name="description"
                    cols="30"
                    rows="10"
                    value=" <%= pin.description %> "
                  >
                  </textarea>
                </div>
                <div class="login-register-submit">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% } %>

    </footer>

    <!-- -------------------------- -->
    <!-- Pop-Out Content -->
    <!-- -------------------------- -->
    <div class="pop-out hide">
      <div class="pop-content">
        <div class="top-show">
          <div class="time"><%= pin.created_at%>By:</div>
          <div class="close">+</div>
        </div>
        <header>
          <img src="<%= pin.media %> " />
          <div class="text">
            <h2><%= pin.title %></h2>
            <hr />
            <div class="card-lg-info">
              <p><%= pin.description %></p>
            </div>
          </div>
        </header>


        <form action="/:pin_id/rating" method="POST" class="rate-me" id="<%= pin.id %>" data-user="<%= userId %>">
          <label>
            <input type="radio" name="rate-me" value="5" title="5 stars">
          </label>
          <label>
            <input type="radio" name="rate-me" value="4" title="4 stars">
          </label>
          <label>
            <input type="radio" name="rate-me" value="3" title="3 stars">
          </label>
          <label>
            <input type="radio" name="rate-me" value="2" title="2 stars">
          </label>
          <label>
            <input type="radio" name="rate-me" value="1" title="1 star">
          </label>
        </form>



        <footer class="show">
          <div class="card-sm-avg-rating">
            <div id="rating" class="fas fa-star checked">
              <% if(Number(pin.rating) !== 0.0) { %> <%=
              Number(pin.rating).toFixed(1) %> <% } else { %> <%=
              Number(pin.rating).toFixed()%> <% } %>
            </div>
            <div class="fas fa-heart like-count"><%= pin.like_count %></div>
          </div>
          <div class="buttons">
            <button>
              <span class="far fa-plus-square"></span>
            </button>

            <div class="like">
              <button class="far fa-heart"></button>
              <p class="like-counter">25</p>
            </div>

            <button class="link">
              <span class="fas fa-external-link-alt"
                ><a href="<%= pin.url %>" target="blank"></a
              ></span>
            </button>
          </div>
        </footer>
      </div>
    </div>
  </article>
  <% } %> <%- include('../pages/create') %>
</div>
